body {
  font: 100% Helvetica, sans-serif;
  color: white;
}

.navbar {
  font-size: 15px;
}

.nav-link {
  text-transform: uppercase;
  margin-right: 10px;
  font-size: 15px;
}

.nav-link:hover::after {
  content: "";
  display: block;
  border-bottom: 3px solid blue;
  width: 50%;
  margin: auto;
  padding-bottom: 5px;
  margin-bottom: -8px;
}

.container-tentang {
  padding-left: 300px;
  padding-right: 300px;
  padding-top: 50px;
}

.container-perkenalan {
  padding-left: 300px;
  padding-right: 300px;
  padding-top: 50px;
}

.video-perkenalan {
  border-radius: 50px;
}

.judul-perkenalan {
  font-family: Overpass;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -0.5px;
  color: #000000;
}

.deskripsi-perkenalan {
  font-family: Overpass;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #7a7a7a;
}

.container-skills {
  background-color: #47a1f7;
}

.judul-skills {
  font-family: Overpass;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 64px;
  text-align: center;
  letter-spacing: -1.5px;
  color: white;
}

.deskripsi-skills {
  font-family: Overpass;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 31px;
  text-align: center;
  color: white;
  padding-left: 200px;
  padding-right: 200px;
}

.judul-keahlian-ditawarkan {
  font-family: Overpass;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1.08333px;
  text-transform: uppercase;
  color: white;
}

.deskripsi-ditawarkan {
  font-family: Overpass;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: white;
}

.icon-skills {
  height: 50px;
  width: 50px;
  text-align: center;
}

.container-dalam-skiils {
  padding-top: 30px;
  padding-bottom: 30px;
}

.container-kontak {
  background-color: yellow;
}

@media (max-width: 500px) {
  body {
    background-color: white;
  }
  .nav-link {
    text-transform: uppercase;
  }
  .container-tentang {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
  }
  .container-perkenalan {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
  }
  .video-perkenalan {
    border-radius: 20px;
  }
  .judul-perkenalan {
    font-family: Overpass;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 34px;
    letter-spacing: -0.5px;
    color: #000000;
  }
  .deskripsi-perkenalan {
    font-family: Overpass;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 28px;
    color: #7a7a7a;
  }
  .judul-skills {
    font-family: Overpass;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 64px;
    text-align: center;
    letter-spacing: -1.5px;
    color: #000000;
  }
  .deskripsi-skills {
    font-family: Overpass;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 17px;
    text-align: center;
    color: white;
    padding-left: 0px;
    padding-right: 0px;
  }
}
/*# sourceMappingURL=style.css.map */